body{
    margin: 10px;
    height: 100vh;
    background-color: azure;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section{
    display: grid;
    grid-template-columns: repeat(4, 23%);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: grid;
    border-radius: 8px;
    box-shadow: 10px 10px 10px gray;
}

.cuadro1{
    display: grid;
    background-color: salmon;
    margin-top: 0;
    padding: 30px;
    text-align: start;
    border-radius: 8px 8px 0px 0px;
}

.cuadro1 h1{
    font-size: 60px;
    margin: 0;
}

.cuadro1 h2{
    font-size: 40px;
    margin: 0;
}

.cuadro2{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 30px;
}

.lunes,.martes,.miercoles,.jueves,.viernes,.sabado,.domingo{
    text-align: center;
    color: salmon;
}

.dia{
    margin: 10px;
    color: black;
}

.dia:hover{
    color: rgb(255, 122, 122);
}

.color{
    color: rgb(155, 155, 155);
}





.btn-precio:hover{
    background-color: crimson;
}

@media (max-width: 900px) {
    section{
        grid-template-columns: repeat(2, 45%);
    }
    .container{
        margin-top: 20px;
    }
}

@media (max-width: 600px) {
    section{
        grid-template-columns: repeat(1, 90%);
    }
    .container{
        margin-top: 20px;
    }
}
  